
    /**
    * @file
    * @author Orbit Media <drupal@orbitmedia.com>
    * @since 1.0
    * @package Sandbox
    */

    #bottom-page-blocks {

        .block:nth-child(odd) {
            background: #f0f0f0;
        }

    }

    .block-oms-page-blocks {
        padding: 50px 0;
    }

    .page-block-subtitle {
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    .page-block-align-right {

        .page-block-media {
            float: right;
        }

    }

    @media (max-width: $screen-xs-max) {
        .page-block-media {
            margin-bottom: 30px;
        }
    }

    // ======================================== //
    // Content Page Block
    // ======================================== //

    .block-oms-content-page-block {

        :last-child {
            margin-bottom: 0;
        }

        @media (max-width: $screen-xs-max) {

            .page-block-content .col {

                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0;
                }

            }

        }

    }
