
    /**
     * @file
     * This file is temporary for the subscription form located in the footer.
     * The form should eventually be replaced with something better at which
     * time we can update the styles below.
     *
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    .contact-message-subscribe-form {

        p {
            font-size: 15px;
            line-height: normal;
        }

        input {
            width: 100%;
        }

        .form-wrapper {
            float: left;
        }

        .field--type-email {
            width: 80%;
        }

        .form-actions {
            width: 20%;
        }

    }
