
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    // @import "compass/css3";

    // ======================================== //
    // Teasers
    // ======================================== //

    // Wrapper
    .field--name-field-team {

        margin: 30px -15px 0;

        .teaser {
            margin-bottom: 30px;
        }

        // Image
        .field--name-field-team-image {
            margin-bottom: 20px;
        }

        // Title
        h3 {
            margin-bottom: 0;
        }

    }

    // ======================================== //
    // Detail
    // ======================================== //

    .page-node-type-team {

        // Department
        .field--name-field-team-dept {
            font-size: 17px;
            font-style: italic;
            margin: -15px 0 20px;
        }

        // Image
        .views-field-field-team-image {
            margin-bottom: 20px;
        }

        @media (max-width: $screen-xs-max) {

            #right > .row {
                // @include display-flex;
                // @include flex-direction(column);
                display: flex;
                flex-direction: column;
            }

            #content {
                // @include order(2);
                order: 2;
            }

            #sidebar {
                margin-bottom: 40px;
                // @include order(1);
                order: 1;
            }

        }

    }
