
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    .block-oms-widgets {
        margin-bottom: 30px;
    }

    // ======================================== //
    // Content
    // ======================================== //

    .block-oms-content-widget {

        background: $sandbox-color-2;
        padding: 20px;

        :last-child {
            margin-bottom: 0;
        }

    }

    // ======================================== //
    // Image Widget
    // ======================================== //

    .block-oms-image-widget {

        img {
            width: 100%;
            height: auto;
        }

        .omsiw-caption {
            background: $sandbox-color-2;
            margin-top: 1px;
            padding: 10px 20px;
        }

    }

    // ======================================== //
    // Video Widget
    // ======================================== //

    .block-oms-video-widget {

        &:hover .omsvw-play {
            background: $brand-color-2;
        }

        .omsvw-thumbnail {
            position: relative;
        }

        .omsvw-play {
            width: 60px;
            height: 60px;
            background: $brand-color-1;
            @include border-radius(50%);
            color: #fff;
            font-size: 28px;
            line-height: 60px;
            padding-left: 4px;
            pointer-events: none;
            position: absolute;
            top: 15px;
            left: 15px;
            text-align: center;
        }

        .omsvw-caption {
            background: $sandbox-color-2;
            margin-top: 1px;
            padding: 10px 20px;
        }

        img {
            width: 100%;
            height: auto;
        }

    }
