/**
 * @file layout.scss
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 * @todo Figure out where .container-fluid should live. Don't put it in core/default.scss.
 */
/* ======================================== */
/* Bootstrap/Compass
/* ======================================== */
/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 30, ../scss/core/_placeholders.scss */
#block-bottommenu > ul, #block-topmenu > ul, #block-mainmenu > ul, #block-orbitmedia-local-tasks ul, #block-socialnetworks > ul, #block-footermenu1 > ul,
#block-footermenu2 > ul {
  margin: 0;
  padding: 0;
}
/* line 35, ../scss/core/_placeholders.scss */
#block-bottommenu > ul li, #block-topmenu > ul li, #block-mainmenu > ul li, #block-orbitmedia-local-tasks ul li, #block-socialnetworks > ul li, #block-footermenu1 > ul li,
#block-footermenu2 > ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 50, ../scss/core/_placeholders.scss */
#block-bottommenu > ul li:after, #block-topmenu > ul li:after, #block-mainmenu > ul li:after {
  content: "\00a0\2022\00a0";
}
/* line 54, ../scss/core/_placeholders.scss */
#block-bottommenu > ul li:last-of-type:after, #block-topmenu > ul li:last-of-type:after, #block-mainmenu > ul li:last-of-type:after {
  content: "";
  display: none;
}

/* line 68, ../scss/core/_placeholders.scss */
#block-bottommenu > ul li, #block-topmenu > ul li, #block-mainmenu > ul li, #block-orbitmedia-local-tasks ul li, #block-socialnetworks > ul li {
  display: inline-block;
}

/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 6, ../scss/core/_drupal.scss */
#block-orbitmedia-local-tasks {
  border-bottom: 1px solid #555;
  line-height: normal;
  margin-bottom: 25px;
}
/* line 16, ../scss/core/_drupal.scss */
#block-orbitmedia-local-tasks ul a {
  background: #f0f0f0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  color: #555;
  display: block;
  font-size: 15px;
  padding: 8px 15px;
}
/* line 25, ../scss/core/_drupal.scss */
#block-orbitmedia-local-tasks ul a:hover, #block-orbitmedia-local-tasks ul a.is-active {
  background: #555;
  color: #fff;
}

/* line 40, ../scss/core/_drupal.scss */
#block-orbitmedia-local-actions {
  margin-bottom: 40px;
}
/* line 44, ../scss/core/_drupal.scss */
#block-orbitmedia-local-actions li {
  list-style: none;
  text-transform: capitalize;
}

/* line 55, ../scss/core/_drupal.scss */
.messages {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: normal;
  margin: 0 0 30px;
  padding: 10px;
}
/* line 62, ../scss/core/_drupal.scss */
.messages.messages--status {
  background: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
}

/**
 * @file _default.scss
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 9, ../scss/core/_default.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../scss/core/_default.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

/* line 18, ../scss/core/_default.scss */
body {
  background: #fff;
  color: #383130;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

/* line 31, ../scss/core/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #383130;
  line-height: normal;
  margin: 0 0 20px;
}

/* line 38, ../scss/core/_default.scss */
h1 {
  font-size: 45px;
}

/* line 42, ../scss/core/_default.scss */
h2, h4 {
  font-size: 32px;
}

/* line 46, ../scss/core/_default.scss */
h3, h6 {
  font-size: 20px;
  font-weight: 600;
}

/* line 51, ../scss/core/_default.scss */
h5 {
  font-size: 25px;
}

/* line 59, ../scss/core/_default.scss */
p {
  margin: 0 0 20px;
}

/* line 63, ../scss/core/_default.scss */
a {
  color: #c8543b;
}
/* line 67, ../scss/core/_default.scss */
a:hover {
  color: #383130;
  text-decoration: none;
}

/* line 74, ../scss/core/_default.scss */
ul, ol {
  margin: 0 0 20px;
  padding: 0 0 0 30px;
}
/* line 79, ../scss/core/_default.scss */
ul li, ol li {
  line-height: normal;
  margin-bottom: 5px;
}
/* line 84, ../scss/core/_default.scss */
ul ul, ul ol, ol ul, ol ol {
  margin: 5px 0 0;
}

/* line 90, ../scss/core/_default.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 99, ../scss/core/_default.scss */
.button {
  background: #c8543b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  padding: 8px 15px;
}
/* line 107, ../scss/core/_default.scss */
.button:hover {
  background: #383130;
  color: #fff;
}

/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 9, ../scss/layout/_footer.scss */
#footer {
  background: #eee7d4;
  padding: 30px 0;
}
/* line 14, ../scss/layout/_footer.scss */
#footer h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 15px;
}

/* line 22, ../scss/layout/_footer.scss */
#bottom {
  background: #383130;
  padding: 10px 0;
}

/* line 38, ../scss/layout/_footer.scss */
#block-footermenu1,
#block-footermenu2 {
  width: 50%;
  float: left;
}
/* line 44, ../scss/layout/_footer.scss */
#block-footermenu1 > ul li,
#block-footermenu2 > ul li {
  margin-bottom: 5px;
}

/* line 54, ../scss/layout/_footer.scss */
#block-socialnetworks > ul a {
  width: 32px;
  display: block;
  font-size: 32px;
  overflow: hidden;
  position: relative;
  text-indent: -1000%;
}
/* line 63, ../scss/layout/_footer.scss */
#block-socialnetworks > ul a:before {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
}

/* line 78, ../scss/layout/_footer.scss */
#block-bottommenu > ul li {
  color: #eee7d4;
  font-size: 14px;
}
/* line 83, ../scss/layout/_footer.scss */
#block-bottommenu > ul a {
  color: #eee7d4;
}
/* line 87, ../scss/layout/_footer.scss */
#block-bottommenu > ul a:hover, #block-bottommenu > ul a.is-active {
  color: #fff;
}

/**
 * @file _forms.scss
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 9, ../scss/layout/_header.scss */
#top {
  background: #383130;
  padding: 10px 0;
}

/* line 14, ../scss/layout/_header.scss */
#header {
  background: #eee7d4;
  padding: 20px 0;
}

/* line 27, ../scss/layout/_header.scss */
#block-topmenu > ul li {
  color: #eee7d4;
  font-size: 14px;
}
/* line 32, ../scss/layout/_header.scss */
#block-topmenu > ul a {
  color: #eee7d4;
}
/* line 36, ../scss/layout/_header.scss */
#block-topmenu > ul a:hover, #block-topmenu > ul a.is-active {
  color: #fff;
}

/* line 44, ../scss/layout/_header.scss */
#block-mainmenu {
  float: right;
  padding-top: 20px;
}
/* line 53, ../scss/layout/_header.scss */
#block-mainmenu > ul li {
  font-size: 18px;
  line-height: normal;
}
/* line 58, ../scss/layout/_header.scss */
#block-mainmenu > ul li a:hover, #block-mainmenu > ul li a.is-active {
  color: #383130;
}

/**
 * @file _interior.scss
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 9, ../scss/layout/_interior.scss */
#interior {
  padding: 50px 0;
}

/**
* @file
* @author Orbit Media <drupal@orbitmedia.com>
* @since 1.0
* @package Sandbox
*/
/* line 11, ../scss/features/_page-blocks.scss */
#bottom-page-blocks .block:nth-child(odd) {
  background: #f0f0f0;
}

/* line 17, ../scss/features/_page-blocks.scss */
.block-oms-page-blocks {
  padding: 50px 0;
}

/* line 21, ../scss/features/_page-blocks.scss */
.page-block-subtitle {
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* line 30, ../scss/features/_page-blocks.scss */
.page-block-align-right .page-block-media {
  float: right;
}

@media (max-width: 767px) {
  /* line 37, ../scss/features/_page-blocks.scss */
  .page-block-media {
    margin-bottom: 30px;
  }
}
/* line 48, ../scss/features/_page-blocks.scss */
.block-oms-content-page-block :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 54, ../scss/features/_page-blocks.scss */
  .block-oms-content-page-block .page-block-content .col {
    margin-bottom: 30px;
  }
  /* line 58, ../scss/features/_page-blocks.scss */
  .block-oms-content-page-block .page-block-content .col:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * @file
 * This file is temporary for the subscription form located in the footer.
 * The form should eventually be replaced with something better at which
 * time we can update the styles below.
 *
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 15, ../scss/features/_subscribe.scss */
.contact-message-subscribe-form p {
  font-size: 15px;
  line-height: normal;
}
/* line 20, ../scss/features/_subscribe.scss */
.contact-message-subscribe-form input {
  width: 100%;
}
/* line 24, ../scss/features/_subscribe.scss */
.contact-message-subscribe-form .form-wrapper {
  float: left;
}
/* line 28, ../scss/features/_subscribe.scss */
.contact-message-subscribe-form .field--type-email {
  width: 80%;
}
/* line 32, ../scss/features/_subscribe.scss */
.contact-message-subscribe-form .form-actions {
  width: 20%;
}

/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 16, ../scss/features/_team.scss */
.field--name-field-team {
  margin: 30px -15px 0;
}
/* line 20, ../scss/features/_team.scss */
.field--name-field-team .teaser {
  margin-bottom: 30px;
}
/* line 25, ../scss/features/_team.scss */
.field--name-field-team .field--name-field-team-image {
  margin-bottom: 20px;
}
/* line 30, ../scss/features/_team.scss */
.field--name-field-team h3 {
  margin-bottom: 0;
}

/* line 43, ../scss/features/_team.scss */
.page-node-type-team .field--name-field-team-dept {
  font-size: 17px;
  font-style: italic;
  margin: -15px 0 20px;
}
/* line 50, ../scss/features/_team.scss */
.page-node-type-team .views-field-field-team-image {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  /* line 56, ../scss/features/_team.scss */
  .page-node-type-team #right > .row {
    display: flex;
    flex-direction: column;
  }
  /* line 63, ../scss/features/_team.scss */
  .page-node-type-team #content {
    order: 2;
  }
  /* line 68, ../scss/features/_team.scss */
  .page-node-type-team #sidebar {
    margin-bottom: 40px;
    order: 1;
  }
}

/**
 * @file
 * @author Orbit Media <drupal@orbitmedia.com>
 * @since 1.0
 * @package Sandbox
 */
/* line 9, ../scss/features/_widgets.scss */
.block-oms-widgets {
  margin-bottom: 30px;
}

/* line 17, ../scss/features/_widgets.scss */
.block-oms-content-widget {
  background: #eee7d4;
  padding: 20px;
}
/* line 22, ../scss/features/_widgets.scss */
.block-oms-content-widget :last-child {
  margin-bottom: 0;
}

/* line 34, ../scss/features/_widgets.scss */
.block-oms-image-widget img {
  width: 100%;
  height: auto;
}
/* line 39, ../scss/features/_widgets.scss */
.block-oms-image-widget .omsiw-caption {
  background: #eee7d4;
  margin-top: 1px;
  padding: 10px 20px;
}

/* line 53, ../scss/features/_widgets.scss */
.block-oms-video-widget:hover .omsvw-play {
  background: #383130;
}
/* line 57, ../scss/features/_widgets.scss */
.block-oms-video-widget .omsvw-thumbnail {
  position: relative;
}
/* line 61, ../scss/features/_widgets.scss */
.block-oms-video-widget .omsvw-play {
  width: 60px;
  height: 60px;
  background: #c8543b;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  padding-left: 4px;
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
}
/* line 77, ../scss/features/_widgets.scss */
.block-oms-video-widget .omsvw-caption {
  background: #eee7d4;
  margin-top: 1px;
  padding: 10px 20px;
}
/* line 83, ../scss/features/_widgets.scss */
.block-oms-video-widget img {
  width: 100%;
  height: auto;
}

/* line 49, ../scss/layout.scss */
.container-fluid {
  max-width: 1170px;
  margin: auto;
}
