
    /**
     * @file _default.scss
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    * {
        @include box-sizing(border-box);
    }

    html {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
    }

    body {
        background: $body-background-color;
        color: $body-font-color;
        font-size: $body-font-size;
        line-height: $body-line-height;
        margin: 0;
        padding: 0;
    }

    // ======================================== //
    // Headers
    // ======================================== //

    h1, h2, h3, h4, h5, h6 {
        @include webfont(400);
        color: $body-font-color;
        line-height: normal;
        margin: 0 0 20px;
    }

    h1 {
        font-size: 45px;
    }

    h2, h4 {
        font-size: 32px;
    }

    h3, h6 {
        font-size: 20px;
        font-weight: 600;
    }

    h5 {
        font-size: 25px;
    }

    // ======================================== //
    // WYSIWYG Elements
    // ======================================== //

    p {
        margin: 0 0 20px;
    }

    a {

        color: $link-color;

        &:hover {
            color: $link-rollover-color;
            text-decoration: none;
        }

    }

    ul, ol {

        margin: 0 0 20px;
        padding: 0 0 0 30px;

        li {
            line-height: normal;
            margin-bottom: 5px;
        }

        ul, ol {
            margin: 5px 0 0;
        }

    }

    img {
        max-width: 100%;
        height: auto;
    }

    // ======================================== //
    // WYSIWYG Classes
    // ======================================== //

    .button {

        background: $button-color;
        @include border-radius(3px);
        color: $button-text-color;
        display: inline-block;
        padding: 8px 15px;

        &:hover {
            background: $button-rollover-color;
            color: $button-rollover-text-color;
        }

    }
