
    // ======================================== //
    // Tabs
    // ======================================== //

    #block-orbitmedia-local-tasks {

        border-bottom: 1px solid #555;
        line-height: normal;
        margin-bottom: 25px;

        ul {

            @extend %inlineListMenu;

            a {

                background: #f0f0f0;
                @include border-radius(5px 5px 0 0);
                color: #555;
                display: block;
                font-size: 15px;
                padding: 8px 15px;

                &:hover, &.is-active {
                    background: #555;
                    color: #fff;
                }

            }

        }

    }

    // ======================================== //
    // Local Actions
    // ======================================== //

    #block-orbitmedia-local-actions {

        margin-bottom: 40px;

        li {
            list-style: none;
            text-transform: capitalize;
        }

    }

    // ======================================== //
    // Messages
    // ======================================== //

    .messages {

        @include border-radius(5px);
        line-height: normal;
        margin: 0 0 30px;
        padding: 10px;

        &.messages--status {
            background: $state-success-bg;
            border: 1px solid $state-success-border;
            color: $state-success-text;
        }

    }
