
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    // Apply a webfont to an element.
    @mixin webfont($weight: 400) {
        font-family: $webfont-family;
        font-weight: $weight;
    }
