
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    // Append an arrow to an element.
    %appendArrow {
        &:after {
            content: "\203A";
            padding-left: 3px;
            position: relative;
            top: -1px;
        }
    }

    // Prepend an arrow to an element.
    %prependArrow {
        &:before {
            content: "\2039";
            padding-right: 3px;
            position: relative;
            top: -1px;
        }
    }

    // Reset the margin and padding for a <ul> menu.
    %resetListMenu {

        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    }

    // Convert a <ul> menu to an inline menu and add delimiters.
    %delimitedListMenu {

        @extend %inlineListMenu;

        li {

            &:after {
                content: "\00a0\2022\00a0";
            }

            &:last-of-type:after {
                content: "";
                display: none;
            }

        }

    }

    // Convert a <ul> menu to an inline menu.
    %inlineListMenu {

        @extend %resetListMenu;

        li {
            display: inline-block;
        }

    }
