
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    // ======================================== //
    // Brand Colors
    // ======================================== //

    $brand-color-1: #c8543b;
    $brand-color-2: #383130;
    $brand-color-3: #39a5b3;
    $brand-color-4: #ff0;

    // ======================================== //
    // Sandbox Styles
    // ======================================== //

    $sandbox-color-1: #444; // Text, etc.
    $sandbox-color-2: #eee7d4; // Header, footer, etc.
    $sandbox-color-3: #ccc; // Accents, etc.
    $sandbox-color-4: $brand-color-2; // Top, bottom, etc.

    // ======================================== //
    // Body Defaults
    // ======================================== //

    $body-background-color: #fff;
    $body-font-color: $brand-color-2;
    $body-font-size: 15px;
    $body-line-height: 22px;

    // ======================================== //
    // Links
    // ======================================== //

    $link-color: $brand-color-1;
    $link-rollover-color: $brand-color-2;

    // ======================================== //
    // Buttons
    // ======================================== //

    $button-color: $brand-color-1;
    $button-text-color: #fff;
    $button-rollover-color: $brand-color-2;
    $button-rollover-text-color: #fff;

    // ======================================== //
    // Webfonts (TypeKit, Google, etc)
    // ======================================== //

    $webfont-family: 'proxima-nova', sans-serif;
