
    /**
     * @file layout.scss
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     * @todo Figure out where .container-fluid should live. Don't put it in core/default.scss.
     */

    /* ======================================== */
    /* Bootstrap/Compass
    /* ======================================== */

    @import "compass/css3";
    @import "../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/variables";

    // ======================================== //
    // Core
    // ======================================== //

    @import "core/vars";
    @import "core/placeholders";
    @import "core/mixins";
    @import "core/drupal";
    @import "core/default";

    // ======================================== //
    // Layout
    // ======================================== //

    @import "layout/footer";
    @import "layout/forms";
    @import "layout/header";
    @import "layout/interior";

    // ======================================== //
    // Features
    // ======================================== //

    @import "features/page-blocks";
    @import "features/subscribe";
    @import "features/team";
    @import "features/widgets";

    // ======================================== //
    // Miscellaneous
    // ======================================== //

    .container-fluid {
        max-width: 1170px;
        margin: auto;
    }
