{#
/**
 * @file spellcard.html.twig
 * Default theme implementation to present Spellcard data.
 *
 * This template is used when viewing Spellcard pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_spellcard()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('spellcard') }}>
  <h3 class="spellcard-label">
    {{- label -}}
  </h3><!-- /.spellcard-label -->
  <div class="spellcard-type">
    {{- type_subtext -}}
  </div><!-- /.spellcard-type -->
  <div class="spellcard-desc">
    {{- desc|raw -}}
  </div><!-- /.spellcard-desc -->
  <div class="spellcard-notes">
    {{- notes|raw -}}
  </div><!-- /.spellcard-notes -->
</div>
