
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    #footer {

        background: $sandbox-color-2;
        padding: 30px 0;

        h2 {
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 15px;
        }

    }

    #bottom {
        background: $sandbox-color-4;
        padding: 10px 0;
    }

    // ======================================== //
    // Menus
    // ======================================== //

    #block-footermenu1 > ul,
    #block-footermenu2 > ul,
    #block-socialnetworks > ul,
    #block-bottommenu > ul {
        @extend %resetListMenu;
    }

    #block-footermenu1,
    #block-footermenu2 {

        width: 50%;
        float: left;

        > ul li {
            margin-bottom: 5px;
        }

    }

    #block-socialnetworks > ul {

        @extend %inlineListMenu;

        a {

            width: 32px;
            display: block;
            font-size: 32px;
            overflow: hidden;
            position: relative;
            text-indent: -1000%;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                text-indent: 0;
            }

        }

    }

    #block-bottommenu > ul {

        @extend %delimitedListMenu;

        li {
            color: $sandbox-color-2;
            font-size: 14px;
        }

        a {

            color: $sandbox-color-2;

            &:hover, &.is-active {
                color: #fff;
            }

        }

    }
