
    /**
     * @file
     * @author Orbit Media <drupal@orbitmedia.com>
     * @since 1.0
     * @package Sandbox
     */

    #top {
        background: $sandbox-color-4;
        padding: 10px 0;
    }

    #header {
        background: $sandbox-color-2;
        padding: 20px 0;
    }

    // ======================================== //
    // Menus
    // ======================================== //

    #block-topmenu > ul {

        @extend %delimitedListMenu;

        li {
            color: $sandbox-color-2;
            font-size: 14px;
        }

        a {

            color: $sandbox-color-2;

            &:hover, &.is-active {
                color: #fff;
            }

        }

    }

    #block-mainmenu {

        float: right;
        padding-top: 20px;

        > ul {

            @extend %delimitedListMenu;

            li {

                font-size: 18px;
                line-height: normal;

                a:hover, a.is-active {
                    color: $brand-color-2;
                }

            }

        }

    }
