{#
/**
 * @file ghazlawl_card.html.twig
 * Default theme implementation to present Ghazlawl Card data.
 *
 * This template is used when viewing Ghazlawl Card pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ghazlawl_card()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ghazlawl_card') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
